.page {
}
.header {
  font-size: 32px;
  margin: 15px;
}

.headerBar {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 10px;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

button:hover {
  background-color: #0d0d0d;
  color: #f2f2f2;
  cursor: pointer;
}

.typeButton button.active {
  background-color: #0d0d0d !important;
  color: #f2f2f2 !important;
  font-weight: bold;
}

.appliedFilter {
  background-color: #f2f2f2;
}

.body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

/* 전체 리스트 박스 */
.inquiry-listbox {
  border-radius: 20px;
  width: 800px;
  height: 400px; /* 요청하신 고정 크기 */
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 10px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

/* 개별 거래 항목 (가로 배치) */
.inquiry-each {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  padding: 15px 10px;
  border-bottom: 1px solid #f2f2f2;
  background-color: #ffffff;
  margin: 5px 0;
  gap: 20px; /* 항목 간 간격 */
  border-radius: 20px;
}

/* 스크롤바 디자인 (선택 사항) */
.inquiryListBox::-webkit-scrollbar {
  width: 8px;
}
.inquiryListBox::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
